@charset "UTF-8";
header {
  display: none;
  z-index: 10;
  width: 100%;
  color: #fefefe;
  border-bottom: solid 1px rgba(153, 153, 153, 0.5);
  -webkit-transition: 3s;
  transition: 3s;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .navbar {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.9);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  opacity: 0;
  width: 100%;
  height: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40rem;
  cursor: pointer;
}

header .header nav {
  width: 65%;
  text-align: center;
  font-size: 18rem;
  cursor: pointer;
}

header .header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header nav .nav > li {
  font-weight: 400;
  text-align: left;
  position: relative;
}

header .header nav .nav > li p {
  padding: 30rem 60rem 30rem 0;
}

header .header nav .nav > li .nav_menu {
  position: absolute;
  display: block;
  opacity: 0;
  top: -200%;
  left: 0;
  z-index: 10;
  padding: 20rem 0;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header nav .nav > li .nav_menu > li {
  padding: 10rem 0;
  font-size: 14rem;
  font-weight: 400;
  color: #999;
}

header .header nav .nav > li .nav_menu > li:hover {
  color: #fefefe;
}

header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header article ul li {
  padding: 0 3rem;
  cursor: pointer;
}

header article:first-of-type {
  width: 20%;
}

header article:first-of-type ul li {
  font-size: 12rem;
  border-radius: 50px;
  text-align: center;
}

header article:first-of-type ul li:first-of-type {
  width: 30%;
  padding: 4rem 10rem;
  border: solid 1px #afafaf;
  margin-right: 10rem;
}

header article:first-of-type ul li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  font-size: 12rem;
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input {
  border-radius: 50px;
  border: solid 1px rgba(140, 149, 151, 0.3);
  background-color: rgba(140, 149, 151, 0.5);
  padding: 5rem 20rem;
  text-align: center;
  width: 55%;
}

header article:first-of-type ul li:last-of-type input::-webkit-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input:-ms-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input::-ms-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input::placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input[type=text]:focus {
  color: #bbb;
  outline: none;
}

header article:first-of-type ul li:last-of-type i {
  width: 45%;
  font-size: 25rem;
}

header article:last-of-type {
  width: 10%;
  font-size: 10rem;
}

header article:last-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header article:last-of-type ul li:nth-of-type(2) {
  margin: 0 -5rem;
  cursor: default;
}

#fp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50rem;
}

#fp-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 15rem 0;
}

#fp-nav ul li a {
  border-radius: 50px;
}

#fp-nav ul li a.active span {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #96cc29;
}

#fp-nav ul li:hover a span {
  background-color: #96cc29;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgba(255, 255, 255, 0.4);
  width: 7px;
  height: 7px;
}

.section_1 .slick-list.sl_active ul .tit .tit_box {
  margin-bottom: -500px;
  background-color: #4F5B22;
}

.section_1 .main_slider .slide_list {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_1 .main_slider .slide_list .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.section_1 .main_slider .slide_list .main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 60%;
  background-color: #bbb;
}

.section_1 .main_slider .slide_list .main ul li {
  color: #fff;
}

.section_1 .main_slider .slide_list .main ul .li_tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.section_1 .main_slider .slide_list .main ul .li_tp img {
  width: 25%;
}

.section_1 .main_slider .slide_list .main ul .li_tp::before {
  content: "";
  display: block;
  margin-bottom: 20rem;
  width: 1px;
  height: 65rem;
  background-color: #fff;
}

.section_1 .main_slider .slide_list .main ul .tit {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  overflow: hidden;
}

.section_1 .main_slider .slide_list .main ul .tit .tit_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  font-size: 30rem;
}

.section_1 .main_slider .slide_list .main ul .tit .tit_box p {
  opacity: 0.87;
}

.section_1 .main_slider .slide_list .main ul .tit .tit_box span {
  font-size: 80rem;
}

.section_1 .main_slider .list_1 .li_tp {
  height: 25%;
}

.section_1 .main_slider .list_1 .tit {
  height: 50%;
}

.section_1 .main_slider .list_1 .tit p:first-of-type {
  font-size: 35rem;
}

.section_1 .main_slider .list_1 .tit_btn {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25rem;
}

.section_1 .main_slider .list_1 .tit_btn button {
  width: 180rem;
  height: 50rem;
  background-color: #8a382c;
  color: #fff;
  font-size: 15rem;
  padding: 15rem 25rem;
}

.section_1 .main_slider .list_2 .li_tp {
  height: 17%;
}

.section_1 .main_slider .list_2 .tit {
  height: 30%;
}

.section_1 .main_slider .list_2 .tit .tit_box {
  padding-bottom: 20rem;
}

.section_1 .main_slider .list_2 .tit p {
  font-size: 45rem;
  font-weight: 400;
}

.section_1 .main_slider .list_2 .tit span {
  line-height: 80rem;
}

.section_1 .main_slider .list_2 .li_bt {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
}

.section_1 .main_slider .list_2 .li_bt span {
  height: 20%;
  width: 100%;
  margin: 10rem 0 40rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 0.87;
}

.section_1 .main_slider .list_2 .li_bt span:first-of-type {
  font-size: 25rem;
}

.section_1 .main_slider .list_2 .li_bt span:last-of-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20rem;
}

.section_1 .main_slider .list_2 .li_bt .span_tp p::after {
  content: "ㅣ";
  width: 2px;
  height: 25rem;
  margin: 0 10rem;
}

.section_1 .main_slider .list_2 .li_bt .span_tp p:last-of-type::after {
  content: none;
}

.section_1 .main_slider .list_2 .li_bt .span_bt p {
  padding-bottom: 10rem 0;
}

.section_1 .main_slider .list_1 {
  background: url(/img/main_1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section_1 .main_slider .list_2 {
  background: url(/img/main_2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_1 .main_slider .list_3 {
  background: url(/img/main_3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_1 .main_slider .list_4 {
  background: url(/img/main_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section_1 .main_slider .list_5 {
  background: url(/img/main_5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section_1 .dots {
  position: absolute;
  bottom: 5%;
  width: 100%;
  height: 80rem;
}

.section_1 .slick-dots {
  position: absolute;
  bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  width: 100%;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section_1 .slick-dots li {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  border: 0;
  width: 20%;
  height: 100%;
  margin: 0;
}

.section_1 .slick-dots li button::before {
  content: "";
  background-color: #fff;
  width: 80%;
  height: 6rem;
  opacity: 0.5;
}

.section_1 .slick-dots .p_style {
  font-size: 15rem;
  text-align: left;
  line-height: 20rem;
  color: #fefefe;
  opacity: 0.5;
  z-index: 20;
}

.section_1 .slick-dotted.slick-slider {
  margin-bottom: 0rem;
}

.section_2 .animate {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition-timing-function: all 1s ease-in-out;
          transition-timing-function: all 1s ease-in-out;
  -webkit-transition-property: left, opacity;
  transition-property: left, opacity;
  -webkit-transition-duration: 1s, 2.5s;
          transition-duration: 1s, 2.5s;
}

.section_2 .container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2 .sec2_text {
  width: 100%;
  margin-top: 300rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2 .sec2_text ul {
  width: 100%;
}

.section_2 .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_2 .label li {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55rem;
  position: relative;
  font-size: 17rem;
  text-align: center;
}

.section_2 .label .animate {
  left: 20%;
  padding: 13rem 20rem;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
}

.section_2 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_2 .title_num {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 10vh;
  margin-top: 20rem;
}

.section_2 .title_num p {
  overflow: hidden;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

.section_2 .title_num .num2_ani {
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  line-height: 80rem;
  font-size: 80rem;
  letter-spacing: 6rem;
}

.section_2 .title_num .animate {
  left: 38%;
  height: 100%;
  font-size: 40rem;
  line-height: 50rem;
}

.section_2 .title_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -20rem;
  width: 50%;
}

.section_2 .title_icon p {
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.4);
}

.section_2 .title_icon .num_icon {
  width: 100%;
  margin-top: 5rem;
}

.section_2 .title_icon .num_icon img {
  width: 8%;
}

.section_3 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.section_3 .sec_3_tp {
  height: 30%;
}

.section_3 .sec_3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.section_3 .sec_3 > div {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
}

.section_3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_3 ul li {
  text-align: center;
}

.section_3 .tp_box {
  top: -50%;
}

.section_3 .tp_box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section_3 .tp_box .title li p {
  font-size: 65rem;
  font-weight: 200;
}

.section_3 .tp_box .title li span {
  font-size: 75rem;
  font-weight: 600;
  line-height: 100rem;
}

.section_3 .tp_box .title li:nth-of-type(2) {
  margin-top: 10rem;
}

.section_3 .tp_box .title li:nth-of-type(2) button {
  padding: 15rem 30rem;
  background-color: #fff;
}

.section_3 .tp_box .title li:nth-of-type(2) button a {
  color: #333;
  font-weight: 400;
  font-size: 20rem;
}

.section_3 .tp_box .title li:last-of-type {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15rem;
  padding: 30rem;
  margin-bottom: 10rem;
}

.section_3 .bt_box {
  bottom: -80%;
}

.section_3 .bt_box ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.section_3 .bt_box ul img {
  width: 35rem;
}

.section_3 .bt_box ul li:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_3 .bt_box ul li:nth-of-type(2) .num3_ani {
  font-size: 85rem;
  font-weight: bold;
}

.section_3 .bt_box ul li:nth-of-type(2) span {
  line-height: 100rem;
  font-size: 30rem;
  font-weight: 400;
  padding-left: 5rem;
}

.section_3 .bt_box ul li:last-of-type {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17rem;
}

.section_4 .container {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_4 .sec_4_tp {
  height: 10%;
  width: 100%;
}

.section_4 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-weight: bold;
  width: 100%;
  height: 20%;
  overflow: hidden;
  position: relative;
}

.section_4 .title li {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  position: absolute;
  opacity: 0;
  top: -100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.section_4 .title li > span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20rem;
}

.section_4 .title li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 60rem;
  font-weight: 400;
}

.section_4 .title li p span {
  line-height: 60rem;
}

.section_4 .icon_box {
  overflow: hidden;
  margin-top: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30%;
}

.section_4 .icon_box > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.section_4 .icon_box > li > ul {
  width: 100%;
}

.section_4 .icon_box > li .icon {
  height: 75%;
}

.section_4 .icon_box > li .icon li {
  width: 100%;
  height: 100%;
  position: relative;
}

.section_4 .icon_box > li .icon li a {
  position: absolute;
  width: 45%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section_4 .icon_box > li .icon .icon_main {
  position: relative;
  width: 100%;
}

.section_4 .icon_box > li .icon .icon_serve {
  position: absolute;
}

.section_4 .icon_box > li .text {
  width: 100%;
  height: 25%;
  position: relative;
}

.section_4 .icon_box > li .text li {
  -webkit-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
}

.section_4 .icon_box > li .text li a {
  position: absolute;
  height: 90%;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20rem;
  opacity: 0.5;
  padding: 2rem 0;
  line-height: 25rem;
}

.section_4 .icon_box > li .text li p {
  font-weight: 500;
}

.section_4 .icon_box > li .text li span {
  color: #96cc29;
}

.section_4 .icon_box > li .icon_box_bt {
  height: 10rem;
}

.section_4 .icon_box .phone {
  border-right: solid 1px #fff;
}

.section_4 .icon_box .phone .icon .icon_main {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin-top: -200rem;
  opacity: 0.3;
}

.section_4 .icon_box .motobycle {
  margin-left: 1px;
  position: relative;
}

.section_4 .icon_box .motobycle .icon a {
  -webkit-transition: -webkit-transform 0.9s ease-in-out;
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  -webkit-transform: translate(100%, -30%);
          transform: translate(100%, -30%);
  width: 50%;
  opacity: 0.3;
}

.section_4 .icon_box .sv {
  right: 15%;
  top: 15%;
  -webkit-transform: translate(-5%, -15%);
          transform: translate(-5%, -15%);
  width: 25%;
}

.section_4 .icon_box .sv_1 {
  right: -5%;
  top: 0%;
  -webkit-transform: translate(8%, -25%);
          transform: translate(8%, -25%);
  width: 35%;
}

.section_4 .icon_box .sv_2 {
  right: -8%;
  top: 55%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 20%;
}

.section_4 .icon_box > li .text li a:hover {
  opacity: 1;
}

.section_5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_5 .container .sec_tp {
  width: 100%;
  height: 5%;
}

.section_5 .container .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30%;
}

.section_5 .container .title .tit_box {
  top: -100%;
  left: 0;
  -webkit-transition: top 0.8s ease-in-out;
  transition: top 0.8s ease-in-out;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0;
  font-weight: 400;
}

.section_5 .container .title .tit_box span {
  font-size: 70rem;
  font-weight: bold;
  line-height: 40rem;
}

.section_5 .container .title .tit_box em {
  font-size: 70rem;
}

.section_5 .container .title .tit_box p {
  font-size: 16rem;
  color: rgba(255, 255, 255, 0.8);
}

.section_5 .container .icon {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_5 .container .icon a {
  width: 12%;
}

.section_6 .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_6 .container .desktop {
  height: 10%;
  width: 100%;
}

.section_6 .container .title {
  overflow: hidden;
  width: 100%;
  height: 20%;
  position: relative;
}

.section_6 .container .title .tit_box {
  -webkit-transition: top 0.8s ease-in-out;
  transition: top 0.8s ease-in-out;
  position: absolute;
  top: -80%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 80rem;
  line-height: 80rem;
}

.section_6 .container .title .tit_box p {
  font-weight: 300;
}

.section_6 .container .title .tit_box h2 {
  font-size: 80rem;
  font-weight: bold;
}

.section_6 .container .img_box {
  height: 60%;
}

.section_6 .container .img_box .sec6_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1115px;
  width: 100%;
}

.section_6 .container .img_box .sec6_li li {
  width: 20%;
  height: 20%;
  padding: 0;
  margin: 5rem 5rem 0 5rem;
  overflow: hidden;
}

.section_6 .container .img_box .sec6_li li a {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.section_6 .container .img_box .sec6_li li a img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.section_6 .container .img_box .sec6_li li a .txt {
  display: none;
  background-color: slateblue;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_6 .container .img_box .sec6_li li a .txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20rem;
  width: 150rem;
  height: 60rem;
  font-size: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.section_6 .container .img_box .sec6_li li:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.section_6 .container .img_box .sec6_li li:hover .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_6 .container .img_box .sec6_li .sns_i:hover a .txt span,
.section_6 .container .img_box .sec6_li .sns_n:hover a .txt span {
  content: '';
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.section_6 .container .img_box .sec6_li .sns_i a .txt span {
  background: url(/img/Instagram_bg.png);
  opacity: 80%;
}

.section_6 .container .img_box .sec6_li .sns_n a .txt span {
  background-color: rgba(16, 174, 29, 0.8);
}

.section_6 .container .sec6_bt_icon {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30rem;
  width: 10%;
}

.section_6 .icon {
  display: block;
  position: absolute;
  top: 8%;
  left: 8%;
  width: 20%;
  height: 20%;
}

.section_6 .icon p {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.section_6 .icon p::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.section_6 .sns_i p::after {
  background: url(/img/ico_sns_instar.png) no-repeat;
  background-size: cover;
}

.section_6 .sns_n p::after {
  background: url(/img/ico_sns_naver.png) no-repeat;
  top: 55%;
  left: 60%;
  -webkit-transform: translate(-55%, -60%);
          transform: translate(-55%, -60%);
  background-size: contain;
}

.section_6 .sns_y p::after {
  background: url(/img/ico_sns_youtube.png) no-repeat;
  background-size: cover;
}

.section_7 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rosybrown;
}

.section_7 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section_7 .container .top {
  height: 20%;
}

.section_7 .cont_tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 37%;
}

.section_7 .cont_tp > li {
  width: 40%;
}

.section_7 .cont_tp .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section_7 .cont_tp .news .ns_box {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
  padding-right: 50rem;
}

.section_7 .cont_tp .news .ns_box > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section_7 .cont_tp .news .ns_box > p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15rem;
  padding: 5rem 12rem;
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.section_7 .cont_tp .news .ns_box a em {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 35rem;
  line-height: 50rem;
  margin: 30rem 0;
}

.section_7 .cont_tp .news .ns_box a p {
  font-size: 15rem;
  color: rgba(255, 255, 255, 0.5);
}

.section_7 .cont_tp .news_more {
  font-size: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section_7 .cont_tp .news_more ul {
  width: 90%;
  padding-left: 70rem;
}

.section_7 .cont_tp .news_more ul li {
  width: 100%;
  padding-bottom: 10rem;
}

.section_7 .cont_tp .news_more ul li a {
  font-size: 15rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_7 .cont_tp .news_more ul li a span {
  color: rgba(255, 255, 255, 0.5);
  width: 20%;
}

.section_7 .cont_tp .news_more ul li a p {
  width: 70%;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.section_7 .cont_bt {
  width: 100%;
  height: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_7 .cont_bt > li {
  position: relative;
  width: 40%;
  height: 100%;
}

.section_7 .cont_bt > li > div {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section_7 .cont_bt > li > div > p span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15rem;
  padding: 5rem 12rem;
  border: solid 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 80rem;
}

.section_7 .bt_1 {
  right: 0;
  padding-right: 50rem;
  width: 90%;
}

.section_7 .bt_1 a {
  font-size: 35rem;
  line-height: 50rem;
  margin: 30rem 0;
}

.section_7 .bt_2 {
  left: 0;
  padding-left: 70rem;
  width: 100%;
}

.section_7 .bt_2 a h5 {
  margin: 20rem 0 15rem;
}

.section_7 .bt_2 a h5 .bt_r_h5img {
  width: 125rem;
}

.section_7 .bt_2 a h5 p {
  font-size: 35rem;
  line-height: 40rem;
  padding: 0;
  margin: 0;
}

.section_7 .bt_2 a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 120%;
  margin-bottom: 10rem;
}

.section_7 .bt_2 a div span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120rem;
  text-align: center;
  padding: 3rem 0 1rem;
  margin-right: 20rem;
  background-color: #fff;
  color: #222;
  font-size: 15rem;
}

.section_7 .bt_2 a div ul {
  font-size: 15rem;
}

.section_7 .bt_2 a div ul li {
  color: rgba(255, 255, 255, 0.87);
}

.section_7 .bt_2 a > p {
  font-size: 13rem;
}

.section_7 .cont_bt_img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_7 .cont_bt_img li {
  content: "";
  width: 50%;
  height: 100%;
}

.section_7 .cont_bt_img .bottom_1 {
  background: url(/img/sec_7_bottom_1.jpg) no-repeat;
}

.section_7 .cont_bt_img .bottom_2 {
  background: url(/img/sec_7_bottom_2.jpg) no-repeat;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
}

footer .ft_tp_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

footer .container {
  position: relative;
}

footer .container .foot_tp {
  width: 100%;
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container .foot_tp ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .foot_tp ul li {
  color: #333;
  font-size: 16rem;
}

footer .container .foot_tp ul .color {
  color: #333;
}

footer .container .foot_tp ul:first-of-type {
  width: 50%;
}

footer .container .foot_tp ul:first-of-type li {
  color: #666;
  padding-right: 25rem;
}

footer .container .foot_tp ul:nth-of-type(2) {
  width: 50%;
}

footer .container .foot_tp ul:nth-of-type(2) li::after {
  content: "•";
  color: #546220;
  padding: 0 10rem;
}

footer .container .foot_tp ul:nth-of-type(2) li:last-child {
  color: #4F5B22;
}

footer .container .foot_tp ul:nth-of-type(2) li:last-child::after {
  content: none;
}

footer .container .foot_bt {
  padding: 40rem 0 70rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .foot_bt .ft_bt_left {
  width: 70%;
}

footer .container .foot_bt .ft_bt_left p {
  color: #999;
}

footer .container .foot_bt .ft_bt_left h2 {
  width: 20%;
  margin-bottom: 15rem;
}

footer .container .foot_bt .ft_bt_left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container .foot_bt .ft_bt_left ul li p {
  font-size: 14rem;
}

footer .container .foot_bt .ft_bt_left ul li p:first-of-type::after {
  content: "ㅣ";
  padding: 0 10rem;
}

footer .container .foot_bt .ft_bt_left > p {
  padding-top: 20rem;
}

footer .container .foot_bt .ft_bt_right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .foot_bt .ft_bt_right h3 {
  width: 25%;
}

footer .container .foot_bt .ft_bt_right ul {
  padding-right: 30rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .container .foot_bt .ft_bt_right ul li {
  width: 23rem;
  padding-left: 20rem;
}

.fp-viewing-section2 .label .animate {
  left: 0;
  opacity: 1;
}

.fp-viewing-section2 .title_num .animate {
  left: 0;
  opacity: 1;
}

.fp-viewing-section3 .sec_3 > div {
  position: inherit;
  opacity: 1;
  -webkit-animation: box_ani 1s;
          animation: box_ani 1s;
}

@-webkit-keyframes box_ani {
  50% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes box_ani {
  50% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fp-viewing-section3 .sec_3 .tp_box {
  top: 0;
}

.fp-viewing-section3 .sec_3 .bt_box {
  bottom: 0;
}

.fp-viewing-section4 .section_4 .title li {
  position: inherit;
  top: 0;
  opacity: 1;
  -webkit-animation: tit_ani 1s 0s;
          animation: tit_ani 1s 0s;
}

@-webkit-keyframes tit_ani {
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tit_ani {
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fp-viewing-section4 .section_4 .icon_box > li .text li {
  position: inherit;
  top: 0;
}

.fp-viewing-section4 .section_4 .icon_box .phone .icon .icon_main {
  margin-top: 0rem;
  opacity: 1;
  -webkit-animation: tit_ani 1s;
          animation: tit_ani 1s;
}

@keyframes tit_ani {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fp-viewing-section4 .section_4 .icon_box .sv {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: sv_scale 1s 0.5s;
          animation: sv_scale 1s 0.5s;
  -webkit-animation-iteration-count: 1.5;
          animation-iteration-count: 1.5;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes sv_scale {
  0% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  25% {
    -webkit-transform: scale(0.6) translate(-5%, -15%);
            transform: scale(0.6) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  50% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  75% {
    -webkit-transform: scale(0.6) translate(-5%, -15%);
            transform: scale(0.6) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  100% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
}

@keyframes sv_scale {
  0% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  25% {
    -webkit-transform: scale(0.6) translate(-5%, -15%);
            transform: scale(0.6) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  50% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  75% {
    -webkit-transform: scale(0.6) translate(-5%, -15%);
            transform: scale(0.6) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
  100% {
    -webkit-transform: scale(1) translate(-5%, -15%);
            transform: scale(1) translate(-5%, -15%);
    top: 15%;
    right: 15%;
  }
}

.fp-viewing-section4 .section_4 .icon_box .motobycle .icon a {
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  -webkit-animation: tit_ani 1s;
          animation: tit_ani 1s;
  opacity: 1;
}

@keyframes tit_ani {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fp-viewing-section5 .section_5 .container .title {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30%;
}

.fp-viewing-section5 .section_5 .container .title .tit_box {
  top: 5%;
}

.fp-viewing-section6 .section_6 .container .title .tit_box {
  top: 20%;
}

.section_2 {
  background-image: url("/img/sec_2.jpg");
}

.section_3 {
  background-image: url("/img/sec_3.jpg");
}

.section_4 {
  background-image: url("/img/sec_4.jpg");
}

.section_5 {
  background-image: url("/img/sec_5.jpg");
}

.section_6 {
  background-image: url("/img/sec_6_back.jpg");
}

.section_7 {
  background-image: url("/img/sec_7_top.jpg");
}
/*# sourceMappingURL=main.css.map */