header {
  position: fixed;
  z-index: 10;
  display: block;
  width: 100%;
  color: #fefefe;
  border-bottom: solid 1px rgba(153, 153, 153, 0.5);
  -webkit-transition: 3s;
  transition: 3s;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .navbar {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.9);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  opacity: 0;
  width: 100%;
  height: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40rem;
  cursor: pointer;
}

header .header nav {
  width: 65%;
  text-align: center;
  font-size: 18rem;
  cursor: pointer;
}

header .header nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

header .header nav .nav > li {
  font-weight: 400;
  text-align: left;
  position: relative;
}

header .header nav .nav > li p {
  padding: 30rem 60rem 30rem 0;
}

header .header nav .nav > li .nav_menu {
  position: absolute;
  display: block;
  opacity: 0;
  top: -200%;
  left: 0;
  z-index: 10;
  padding: 20rem 0;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header nav .nav > li .nav_menu > li {
  padding: 10rem 0;
  font-size: 14rem;
  font-weight: 400;
  color: #999;
}

header .header nav .nav > li .nav_menu > li:hover {
  color: #fefefe;
}

header article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header article ul li {
  padding: 0 3rem;
  cursor: pointer;
}

header article:first-of-type {
  width: 20%;
}

header article:first-of-type ul li {
  font-size: 12rem;
  border-radius: 50px;
  text-align: center;
}

header article:first-of-type ul li:first-of-type {
  width: 30%;
  padding: 4rem 10rem;
  border: solid 1px #afafaf;
  margin-right: 10rem;
}

header article:first-of-type ul li:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  font-size: 12rem;
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input {
  border-radius: 50px;
  border: solid 1px rgba(140, 149, 151, 0.3);
  background-color: rgba(140, 149, 151, 0.5);
  padding: 5rem 20rem;
  text-align: center;
  width: 55%;
}

header article:first-of-type ul li:last-of-type input::-webkit-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input:-ms-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input::-ms-input-placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input::placeholder {
  color: #bbb;
}

header article:first-of-type ul li:last-of-type input[type=text]:focus {
  color: #bbb;
  outline: none;
}

header article:first-of-type ul li:last-of-type i {
  width: 45%;
  font-size: 25rem;
}

header article:last-of-type {
  width: 10%;
  font-size: 10rem;
}

header article:last-of-type ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header article:last-of-type ul li:nth-of-type(2) {
  margin: 0 -5rem;
  cursor: default;
}

#fp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50rem;
}

#fp-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  margin: 15rem 0;
}

#fp-nav ul li a {
  border-radius: 50px;
}

#fp-nav ul li a.active span {
  background-color: rgba(0, 0, 0, 0);
  border: solid 2px #96cc29;
}

#fp-nav ul li:hover a span {
  background-color: #96cc29;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgba(255, 255, 255, 0.4);
  width: 7px;
  height: 7px;
}

.section_2 .animate {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition-timing-function: all 1s ease-in-out;
          transition-timing-function: all 1s ease-in-out;
  -webkit-transition-property: left, opacity;
  transition-property: left, opacity;
  -webkit-transition-duration: 1s, 2.5s;
          transition-duration: 1s, 2.5s;
}

.section_2 .container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_2 .sec2_text {
  width: 100%;
  margin-top: 300rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_2 .sec2_text ul {
  width: 100%;
}

.section_2 .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_2 .label li {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55rem;
  position: relative;
  font-size: 17rem;
  text-align: center;
}

.section_2 .label .animate {
  left: 20%;
  padding: 13rem 20rem;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.87);
}

.section_2 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_2 .title_num {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 10vh;
  margin-top: 20rem;
}

.section_2 .title_num p {
  overflow: hidden;
  position: relative;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
}

.section_2 .title_num .num_animation {
  height: 100%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  line-height: 80rem;
  font-size: 80rem;
  letter-spacing: 6rem;
}

.section_2 .title_num .animate {
  left: 38%;
  height: 100%;
  font-size: 40rem;
  line-height: 50rem;
}

.section_2 .title_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -20rem;
  width: 50%;
}

.section_2 .title_icon p {
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.4);
}

.section_2 .title_icon .num_icon {
  width: 100%;
  margin-top: 5rem;
}

.section_2 .title_icon .num_icon img {
  width: 8%;
}

.section_3 .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_3 ul li {
  text-align: center;
}

.section_3 ul img {
  width: 50px;
}

.section_3 .title li p {
  font-size: 65rem;
  font-weight: 400;
}

.section_3 .title li span {
  font-size: 75rem;
  font-weight: 600;
}

.section_3 .title li button {
  padding: 15rem 30rem;
  background-color: #fff;
}

.section_3 .title li button a {
  color: #333;
  font-weight: 400;
  font-size: 20rem;
}

.section_3 .title li:last-of-type {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15rem;
  padding: 30rem 50rem;
}

.section_3 .box_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: black;
  z-index: 0;
}

.fp-viewing-section2 .label .animate {
  left: 0;
  opacity: 1;
}

.fp-viewing-section2 .title_num .animate {
  left: 0;
  opacity: 1;
}

.section_6 .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section_6 .container .desktop {
  height: 150rem;
}

.section_6 .container .tittle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 80rem;
  line-height: 80rem;
}

.section_6 .container .tittle p {
  font-weight: 300;
}

.section_6 .container .tittle h2 {
  font-size: 80rem;
  font-weight: bold;
}

.section_6 .container .sec6_li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1115px;
  width: 100%;
}

.section_6 .container .sec6_li li {
  width: 20%;
  height: 20%;
  padding: 0;
  margin: 5rem 5rem 0 5rem;
  overflow: hidden;
}

.section_6 .container .sec6_li li a {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.section_6 .container .sec6_li li a img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.section_6 .container .sec6_li li a .txt {
  display: none;
  background-color: slateblue;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_6 .container .sec6_li li a .txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 20rem;
  width: 150rem;
  height: 60rem;
  font-size: 15rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.section_6 .container .sec6_li li:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.section_6 .container .sec6_li li:hover .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_6 .container .sec6_li .sns_i:hover a .txt span,
.section_6 .container .sec6_li .sns_n:hover a .txt span {
  content: '';
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.section_6 .container .sec6_li .sns_i a .txt span {
  background: url(/img/Instagram_bg.png);
  opacity: 80%;
}

.section_6 .container .sec6_li .sns_n a .txt span {
  background-color: rgba(16, 174, 29, 0.8);
}

.section_6 .container .sec6_bt_icon {
  margin: 0 auto;
  margin-top: 30rem;
  width: 10%;
}

.section_6 .icon {
  display: block;
  position: absolute;
  top: 8%;
  left: 8%;
  width: 20%;
  height: 20%;
}

.section_6 .icon p {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.section_6 .icon p::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.section_6 .sns_i p::after {
  background: url(/img/ico_sns_instar.png) no-repeat;
  background-size: cover;
}

.section_6 .sns_n p::after {
  background: url(/img/ico_sns_naver.png) no-repeat;
  top: 55%;
  left: 60%;
  -webkit-transform: translate(-55%, -60%);
          transform: translate(-55%, -60%);
  background-size: contain;
}

.section_6 .sns_y p::after {
  background: url(/img/ico_sns_youtube.png) no-repeat;
  background-size: cover;
}

.section_1 {
  background-image: url("/img/main_2.jpg");
}

.section_2 {
  background-image: url("/img/sec_2.jpg");
}

.section_3 {
  background-image: url("/img/sec_3.jpg");
}

.section_4 {
  background-image: url("/img/sec_4.jpg");
}

.section_5 {
  background-image: url("/img/sec_5.jpg");
}

.section_6 {
  background-image: url("/img/sec_6_back.jpg");
}

.section_7 {
  background-image: url("/img/sec_7_top.jpg");
}

#footer {
  height: 500px;
}
/*# sourceMappingURL=main.css.map */