@charset "UTF-8";
@media (min-width: 1020px) and (min-height: 801px) {
  #mobile {
    display: none;
  }
  #desktop.header.active {
    background-color: rgba(0, 0, 0, 0.9);
  }
  #desktop.header.active .navbar {
    height: 260%;
    padding: 60rem 0 0 0;
    opacity: 1;
  }
  #desktop.header.active .nav_menu {
    padding: 20rem 0;
    opacity: 1;
    top: 100%;
  }
  header {
    width: 100%;
  }
  header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-transition: blur 0s;
    transition: blur 0s;
    z-index: -1;
    border-bottom: solid 1px rgba(153, 153, 153, 0.5);
    background-color: rgba(255, 255, 255, 0);
  }
  header .container {
    max-width: 1400px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header {
    position: relative;
    width: 95%;
  }
  header .header .navbar {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 100%;
    opacity: 0;
    width: 100%;
    height: 0%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .header .logo {
    width: 8%;
    padding: 5rem;
  }
  header .header nav {
    width: 60%;
    text-align: center;
    font-size: 18rem;
    cursor: pointer;
  }
  header .header nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  header .header nav .nav > li {
    font-weight: 400;
    text-align: left;
    position: relative;
    width: 70%;
  }
  header .header nav .nav > li p {
    padding: 30rem 0;
  }
  header .header nav .nav > li .nav_menu {
    position: absolute;
    display: block;
    opacity: 0;
    top: -200%;
    left: 0;
    z-index: 10;
    padding: 20rem 0;
    text-align: left;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
  header .header nav .nav > li .nav_menu > li {
    padding: 10rem 0;
    font-size: 12rem;
    font-weight: 400;
    color: #999;
  }
  header .header nav .nav > li .nav_menu > li:hover {
    color: #fefefe;
  }
}

@media (min-width: 1020px) and (min-height: 801px) and (min-width: 1020px) and (max-width: 1499px) {
  header .header {
    width: 100%;
  }
  header .header .logo {
    width: 8%;
    padding: 5rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .header nav {
    width: 55%;
  }
  header .header nav .nav > li p {
    font-size: 18rem;
  }
}

@media (max-width: 1019px) and (min-width: 0px), (max-height: 800px) {
  #desktop {
    display: none;
  }
  #mobile.header.active .ham .h_bar1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -8rem;
  }
  #mobile.header.active .ham .h_bar2 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #mobile.header.active .ham .h_bar3 {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -8rem;
  }
  #mobile.header.active #nav {
    right: 0;
  }
  header .header {
    position: relative;
  }
  header .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-transition: blur 0s;
    transition: blur 0s;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
  }
  header .header .head_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 75rem;
  }
  header .header .head_bar .logo {
    margin-left: 5rem;
    width: 130rem;
    padding: 5rem;
  }
  header .header .head_bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    height: 100%;
  }
  header .header .head_bar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    font-size: 20rem;
    margin-right: 15rem;
  }
  header .header .head_bar ul .hd_r {
    width: 80%;
  }
  header .header .head_bar ul .hd_r a {
    color: #eee;
    padding-top: 5rem;
    margin-right: 13rem;
    cursor: pointer;
  }
  header .header .head_bar ul .hd_r a:hover {
    color: #fefefe;
  }
  header .header .head_bar ul .hd_r p {
    padding-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header .head_bar ul .hd_r span {
    cursor: pointer;
  }
  header .header .head_bar ul .ham {
    position: relative;
    width: 13%;
  }
  header .header .head_bar ul .ham p {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 20;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 100%;
    cursor: pointer;
  }
  header .header .head_bar ul .ham p span {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    content: "";
    width: 50rem;
    height: 6rem;
    margin: 3rem 0;
    background-color: white;
    -webkit-transform-origin: center;
            transform-origin: center;
    border-radius: 2px;
  }
  header .header #nav {
    -webkit-transition: right ease-in-out 0.5s;
    transition: right ease-in-out 0.5s;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 60vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  header .header .input {
    width: 100%;
    margin: 75rem 0 30rem 0;
    display: block;
  }
  header .header .input li {
    height: 100%;
    padding: 0 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header .input li input {
    width: 80%;
    margin-left: 10rem;
    padding: 5rem;
  }
  header .header .input li i {
    width: 10%;
    font-size: 20rem;
    margin-left: 10rem;
  }
  header .header .nav {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav li p {
    font-size: 20rem;
    padding: 10rem;
    background-color: black;
    cursor: pointer;
  }
  header .header .nav .nav_menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav .nav_menu li {
    padding: 10rem;
    font-size: 15rem;
    color: #a7a7a7;
  }
  header .header .nav .nav_menu li:first-of-type {
    margin-top: 10rem;
  }
  header .header .nav .nav_menu li:last-of-type {
    margin-bottom: 10rem;
  }
  .section_1 .p_style {
    display: none;
  }
  .section_4 .icon_box > li .text li a {
    opacity: 1;
  }
  .section_6 .img_box .sec6_li li:hover img {
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .section_6 .img_box .sec6_li li:hover .txt {
    display: none;
  }
  .section_6 .img_box .sec6_li .sns_i:hover a .txt span,
  .section_6 .img_box .sec6_li .sns_n:hover a .txt span {
    content: none;
  }
  .section_6 .img_box .sec6_li .sns_i a .txt span {
    background: none;
  }
  .section_6 .img_box .sec6_li .sns_n a .txt span {
    background: none;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 6.25%;
  }
  .section_2 .container {
    max-width: 1280px;
  }
  .sec_3 .tp_box {
    height: 60%;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button {
    padding: 15rem 30rem;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button a {
    font-size: 20rem;
  }
  .sec_3 .tp_box .title li:last-of-type {
    font-size: 15rem;
  }
  .sec_3 .bt_box {
    height: 40%;
  }
  .sec_3 .bt_box .num3_ani {
    font-size: 85rem;
  }
  .sec_3 .bt_box span {
    font-size: 30em;
  }
  .section_6 .sec6_li li {
    width: 250rem;
    height: 250rem;
  }
  .section_7 .container {
    max-width: 1400px;
  }
  .section_7 .ns_box {
    padding-right: 50rem;
  }
  .section_7 .news_more ul {
    padding-left: 70rem;
  }
  .section_7 .bt_1 {
    padding-right: 50rem;
  }
  .section_7 .bt_2 {
    padding-left: 70rem;
  }
  #mobile_none {
    display: none;
  }
  .news_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1500px) and (max-height: 900px) {
  .section_6 .img_box .sec6_li {
    max-width: 1000rem;
    max-height: 500rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
}

@media (min-width: 1500px) and (max-height: 700px) {
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
    line-height: 50rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 1000rem;
    max-height: 450rem;
    height: 90%;
  }
  .section_6 .img_box .sec6_li li {
    width: 180rem;
    height: 180rem;
  }
  .section_6 .img_box .sec6_bt_icon {
    height: 10%;
  }
}

@media (max-width: 1499px) {
  #mobile_none {
    display: block;
  }
  .section_3 .sec_3 .tp_box {
    height: 60%;
  }
  .section_3 .sec_3 .tp_box .title li:nth-of-type(2) button {
    padding: 10rem 20rem;
  }
  .section_3 .sec_3 .tp_box .title li:nth-of-type(2) button a {
    font-size: 15rem;
  }
  .section_3 .sec_3 .tp_box .title li:last-of-type {
    font-size: 13rem;
  }
  .section_3 .sec_3 .bt_box {
    height: 40%;
  }
  .section_3 .sec_3 .bt_box .num3_ani {
    font-size: 80rem;
  }
  .section_3 .sec_3 .bt_box span {
    font-size: 25rem;
  }
}

@media (max-width: 1499px) and (min-width: 1281px) {
  html {
    font-size: 0.076923076923077vw;
  }
  .section_4 .title {
    height: 35%;
  }
  .section_6 .sec6_li {
    max-width: 1100px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
  .section_7 .ns_box {
    padding-right: 50rem;
  }
  .section_7 .news_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_7 .news_more ul {
    padding-left: 70rem;
  }
  .section_7 .bt_1 {
    padding-right: 50rem;
  }
  .section_7 .bt_2 {
    padding-left: 70rem;
  }
}

@media (max-width: 1499px) and (min-width: 1281px) and (max-height: 1280px) {
  .sec_3 .tp_box {
    height: 60%;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button {
    padding: 15rem 30rem;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button a {
    font-size: 20rem;
  }
  .sec_3 .tp_box .title li:last-of-type {
    font-size: 15rem;
  }
  .sec_3 .bt_box {
    height: 40%;
  }
  .sec_3 .bt_box .num3_ani {
    font-size: 85rem;
  }
  .sec_3 .bt_box span {
    font-size: 30em;
  }
}

@media (max-width: 1499px) and (min-width: 1281px) and (max-height: 1280px) and (max-height: 900px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
}

@media (min-width: 1281px) {
  .franchise_box, .ranchise_p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nono {
    display: none;
  }
  #desk_none {
    display: none;
  }
  .section_7 .cont_bt > li {
    width: 40%;
  }
  .section_7 .cont_bt > li > div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section_7 .cont_bt .bt_1 {
    width: 90%;
  }
  footer .ft_tp_bar {
    height: 70rem;
  }
  footer .container {
    max-width: 1200rem;
  }
  footer .foot_tp {
    height: 70rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .foot_tp ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .foot_tp ul:first-of-type {
    width: 50%;
  }
  footer .foot_tp ul:first-of-type li {
    padding-right: 15rem;
  }
  footer .foot_tp ul:nth-of-type(2) {
    width: 50%;
  }
  footer .foot_tp ul li {
    font-size: 15rem;
  }
}

@media (min-width: 1281px) and (max-height: 900px) {
  .section_1 .main_slider .list_1 .li_tp {
    height: 20%;
  }
  .section_1 .main_slider .list_1 .tit {
    height: 60%;
  }
  .section_1 .main_slider .list_1 .tit_btn {
    height: 20%;
  }
  .section_1 .main_slider .list_2 .li_tp {
    height: 15%;
  }
  .section_1 .main_slider .list_2 .tit {
    height: 65%;
  }
  .section_1 .main_slider .list_2 .tit .tit_box {
    height: 95%;
    padding-bottom: 0rem;
  }
  .section_1 .main_slider .list_2 .tit .tit_box > p {
    padding-bottom: 20rem;
  }
  .section_1 .main_slider .list_2 .tit .tit_box span {
    line-height: 85rem;
  }
  .section_1 .main_slider .list_2 .li_bt {
    padding-top: 0rem;
    height: 20%;
  }
  .section_7 .cont_bt > li > div > p span {
    margin-top: 40rem;
  }
}

@media (max-width: 1280px) {
  .franchise_box ul, .franchise_p {
    display: none;
  }
  #none {
    display: none;
  }
  .section_7 .cont_bt > li {
    width: 40%;
  }
  .section_7 .cont_bt .bt_1 {
    width: 100%;
  }
  .section_7 .cont_bt .bt_2 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_7 .cont_bt .bt_2 a #desk_none {
    font-size: 35rem;
  }
  .section_7 .mobile_989_none li {
    padding: 10rem;
    text-align: center;
  }
  footer .ft_tp_bar {
    height: 100rem;
  }
  footer .container {
    max-width: 1100px;
  }
  footer .foot_tp {
    height: 100rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .foot_tp ul {
    width: 100%;
    padding: 5rem 0;
  }
}

@media (max-width: 1280px) and (max-height: 900px) {
  .section_4 .icon_box {
    height: 45%;
  }
}

@media (max-width: 1280px) and (min-width: 990px) {
  .section_7 .cont_bt {
    padding-left: 50rem;
  }
  .section_7 .bt_right .bt_2 .box h5 {
    margin: 20rem 0 15rem;
  }
  .section_7 .bt_right .bt_2 .box h5 .bt_r_h5img {
    width: 125rem;
  }
  .section_7 .bt_right .bt_2 .box h5 p {
    font-size: 35rem;
    line-height: 40rem;
    padding: 0;
    margin: 0;
  }
  .section_7 .bt_right .bt_2 .box div {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_7 .bt_right .bt_2 .box div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_7 .bt_right .bt_2 .box div ul li {
    font-size: 15rem;
    color: #999;
    border: solid 1px #a7a7a7;
    margin: 5rem 0;
  }
  .section_7 .bt_right .bt_2 .box div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10rem 0 15rem;
  }
  .section_7 .bt_right .bt_2 .box div p span {
    font-size: 17rem;
    line-height: 17rem;
  }
  .section_7 .bt_right .bt_2 .box div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section_7 .bt_right .bt_2 .box div a i {
    font-size: 35rem;
    font-weight: 200;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) {
  html {
    font-size: 0.078125vw;
  }
  .section_6 .sec6_li {
    max-width: 1100rem;
  }
  .section_6 .sec6_li li {
    width: 250rem;
    height: 250rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-width: 1140px) {
  .section_6 .sec6_li {
    max-width: 1200rem;
  }
  .section_6 .sec6_li li {
    width: 280rem;
    height: 280rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-width: 1140px) and (max-width: 1024px) {
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
  .section_6 .sec6_bt_icon li {
    margin-top: 10rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-width: 1140px) and (max-width: 1024px) and (max-height: 800px) {
  .section_6 .sec6_li {
    max-width: 1000px;
  }
  .section_6 .sec6_li li {
    width: 240rem;
    height: 240rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-width: 1140px) and (max-width: 1024px) and (max-height: 600px) {
  .section_6 .sec6_li {
    max-width: 800px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-height: 900px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-height: 850px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
  .section_6 .sec6_li li {
    width: 220rem;
    height: 220rem;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
}

@media (max-width: 1280px) and (min-width: 990px) and (min-width: 1000px) and (max-height: 700px) {
  .section_1 .main_slider .slide_list .main ul {
    height: 70%;
  }
  .section_6 .sec6_li {
    max-width: 800px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
}

@media (min-width: 801px) {
  .mb_801_no {
    display: none;
  }
}

@media (min-width: 801px) and (min-width: 990px) {
  .section_3 .tp_box .title li {
    text-align: center;
  }
  .section_3 .md_990 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_3 .md_989 {
    display: none;
  }
  .section_7 .cont_tp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0rem;
  }
  .section_7 .cont_tp > li {
    width: 40%;
  }
  .section_7 .cont_tp .news_more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_7 .cont_tp .news_more ul {
    padding-left: 50rem;
  }
  .ns_box {
    border-right: solid 1px rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 801px) and (min-width: 990px) and (min-width: 1000px) {
  #sec_6_mb {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 0px) {
  html {
    font-size: 0.1vw;
  }
  .section_1 .main_slider .tit {
    position: inherit;
    overflow: visible;
  }
  .section_1 .main_slider .tit .tit_box {
    position: inherit;
  }
  .section_1 .main_slider .tit .mb_801_no p {
    line-height: 90rem;
  }
  .section_1 .main_slider .tit .mb_801_no p {
    line-height: 100rem;
  }
  .section_6 .container {
    height: 95%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section_6 .title {
    height: 20%;
  }
  .section_6 .title .tit_ovflow {
    position: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    height: 90%;
  }
  .section_6 .title .tit_box {
    position: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_6 .title .tit_box h2 {
    line-height: 60rem;
  }
  .section_6 .img_box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 80%;
  }
  .section_6 .img_box .sec6_li {
    width: 100%;
    height: 100%;
    max-width: 750rem;
    max-height: 750rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 220rem;
    height: 220rem;
  }
  .section_6 .img_box .sec6_bt_icon {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section_7 .cont_bt > li > div > p span {
    margin-top: 50rem;
  }
  .section_7 .cont_bt .bt_1 a {
    line-height: 40rem;
  }
  .section_7 .cont_bt .bt_2 .bt_r_h5img {
    width: 150rem;
  }
  .section_7 .cont_bt .bt_2 p {
    line-height: 40rem;
  }
  footer {
    background-color: #232323;
  }
  footer .ft_tp_bar {
    display: none;
  }
  footer .foot_tp {
    height: 30%;
    margin-top: 30rem;
  }
  footer .foot_tp .mb_999_no {
    display: none;
  }
  footer .foot_tp ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .foot_tp ul li {
    color: #a8a7a7;
  }
  footer .foot_tp ul:nth-of-type(3) li::after {
    content: "ㅣ";
    color: #636363;
  }
  footer .foot_tp ul:nth-of-type(3) li:last-child::after {
    content: none;
  }
  footer .foot_bt {
    padding: 20rem 0;
    margin-bottom: 40rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .foot_bt .ft_bt_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  footer .foot_bt .ft_bt_left ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .foot_bt .ft_bt_left ul li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #636363;
    margin-bottom: 5rem;
  }
  footer .foot_bt .ft_bt_left > p {
    padding-top: 10rem;
  }
  footer .foot_bt .mb_999_no {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 1400px) {
  .section_6 .title {
    height: 30%;
  }
  .section_6 .title .tit_box {
    font-size: 100rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 100rem;
    line-height: 90rem;
  }
  .section_6 .img_box {
    height: 70%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 950rem;
    max-height: 950rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 280rem;
    height: 280rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 1200px) {
  .section_6 .title {
    height: 30%;
  }
  .section_6 .img_box {
    height: 70%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 650rem;
    max-height: 650rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 1000px) {
  .section_6 .title {
    height: 30%;
  }
  .section_6 .img_box {
    height: 70%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 630rem;
    max-height: 630rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 180rem;
    height: 180rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 900px) {
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 80rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 80rem;
    line-height: 80rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 630rem;
    max-height: 630rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 180rem;
    height: 180rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 780px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
    line-height: 30rem;
  }
  .section_6 .img_box .sec6_li {
    max-width: 500rem;
    max-height: 500rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 150rem;
    height: 150rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 700px) {
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 30rem;
  }
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 130rem;
    height: 130rem;
  }
  .section_6 .sec6_bt_icon li {
    margin: 0;
  }
  .section_6 .sec6_bt_icon li i {
    font-size: 18rem;
  }
  .section_6 .sec6_bt_icon li img {
    width: 11rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: none;
  }
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 30rem;
  }
  .section_6 .img_box .sec6_li {
    max-width: 700rem;
    max-height: 350rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 150rem;
    height: 150rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) {
  .section_3 .tp_box .title {
    width: 100%;
  }
  .section_3 .tp_box .title li {
    width: 80%;
  }
  .section_3 .bt_box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section_3 .bt_box .md_990 {
    display: none;
  }
  .section_3 .bt_box .md_989 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_3 .bt_box ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .section_3 .bt_box ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 30%;
  }
  .section_3 .bt_box ul li:first-of-type {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section_3 .bt_box ul li:first-of-type img {
    width: 50rem;
    margin-right: 15rem;
    opacity: 0.6;
  }
  .section_3 .bt_box ul li:first-of-type p {
    font-size: 20rem;
    line-height: 20rem;
    opacity: 0.6;
  }
  .section_3 .bt_box ul li:nth-of-type(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .section_3 .bt_box ul li:nth-of-type(2) .num3_ani_989 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 85rem;
  }
  .section_3 .bt_box ul li:nth-of-type(2) span {
    font-size: 30rem;
  }
  .section_7 i {
    font-size: 40rem;
    color: #a7a7a7;
  }
  .section_7 .bt_1 .mobile_i {
    margin: 0;
    display: block;
  }
  .section_7 .bt_2 {
    margin-left: 50rem;
  }
  .section_7 .bt_2 a {
    margin-top: 30rem;
  }
  .section_7 .bt_2 p {
    font-size: 35rem;
  }
  .section_7 .bt_2 p span {
    font-size: 35rem;
  }
  .section_7 .bt_2 .bt_r_h5img {
    width: 200rem;
    margin-top: 30rem;
  }
  .section_7 .bt_2 .mobile_989_none {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) {
  .section_2 .label li {
    height: 50rem;
    font-size: 18rem;
  }
  .section_2 .title_num .num2_ani {
    line-height: 75rem;
    font-size: 80rem;
  }
  .section_2 .title_num .animate {
    font-size: 35rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) {
  header .header .head_bar ul .hd_r p {
    display: none;
  }
  .section_1 .mb_800_no {
    display: none;
  }
  .section_1 .list_1 .li_tp {
    width: 350rem;
  }
  .section_1 .list_1 .li_tp img {
    width: 100%;
  }
  .section_2 .animate {
    position: inherit;
    opacity: 1;
  }
  .section_2 .container {
    max-width: 600px;
    padding: 0 20rem;
  }
  .section_2 .label {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .section_2 .label li {
    position: inherit;
  }
  .section_2 .label li .animate {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.87);
  }
  .section_2 .title_num .animate {
    font-size: 35rem;
    left: 0;
    opacity: 1;
    margin-left: 0;
  }
  .section_2 .num_icon {
    margin-top: 10rem;
    width: 40rem;
  }
  .section_2 .sec2_text .title_num {
    margin-top: 30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section_2 .sec2_text .num2_ani {
    margin-top: 30rem;
  }
  .section_6 .img_box .sec6_li {
    max-width: 700rem;
    max-height: 700rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 210rem;
    height: 210rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-height: 900px) {
  .section_6 .img_box .sec6_li {
    max-width: 600rem;
    max-height: 600rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 180rem;
    height: 180rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-height: 780px) {
  .section_6 .img_box .sec6_li {
    max-width: 550rem;
    max-height: 550rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 150rem;
    height: 150rem;
  }
  .section_6 .sec6_bt_icon li i {
    font-size: 20rem;
  }
  .section_6 .sec6_bt_icon li img {
    width: 11rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-height: 700px) {
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 130rem;
    height: 130rem;
  }
  .section_6 .sec6_bt_icon li {
    margin: 0;
  }
  .section_6 .sec6_bt_icon li i {
    font-size: 18rem;
  }
  .section_6 .sec6_bt_icon li img {
    width: 11rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: none;
  }
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 30rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 700rem;
    max-height: 330rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 140rem;
    height: 140rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) {
  .section_6 .title {
    height: 25%;
    margin-top: 30rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 650rem;
    max-height: 650rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
  .section_6 .img_box .sec6_bt_icon li {
    margin: 0 20rem;
  }
  .section_6 .img_box .sec6_bt_icon li i {
    font-size: 30rem;
  }
  .section_6 .img_box .sec6_bt_icon li img {
    width: 17rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-height: 900px) {
  .section_6 {
    height: 20%;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 500rem;
    max-height: 500rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 150rem;
    height: 150rem;
  }
  .section_7 .bt_1 a:first-of-type {
    line-height: 45rem;
    margin-bottom: 0;
  }
  .section_7 .bt_1 .mobile_i {
    margin-top: 10rem;
  }
  .section_7 .bt_2 .box h5 p {
    line-height: 40rem;
  }
  .section_7 .bt_2 .box div a {
    margin-top: 10rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-height: 780px) {
  .section_6 .img_box .sec6_li {
    max-width: 480rem;
    max-height: 480rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 140rem;
    height: 140rem;
  }
  .section_6 .sec6_bt_icon li i {
    font-size: 20rem;
  }
  .section_6 .sec6_bt_icon li img {
    width: 11rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-height: 700px) {
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 130rem;
    height: 130rem;
  }
  .section_6 .sec6_bt_icon li {
    margin: 0;
  }
  .section_6 .sec6_bt_icon li i {
    font-size: 18rem;
  }
  .section_6 .sec6_bt_icon li img {
    width: 11rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: none;
  }
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 30rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 700rem;
    max-height: 330rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 140rem;
    height: 140rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) {
  #fp-nav.right {
    right: -10rem;
  }
  #fp-nav ul li .fp-tooltip.right {
    display: none;
  }
  header .header .head_bar ul .hd_r a {
    margin-right: 25rem;
  }
  .section_1 .mb_800_no {
    display: none;
  }
  .section_1 .list_2 .main ul {
    height: 75%;
  }
  .section_1 .list_2 .tit {
    height: 40%;
  }
  .section_1 .list_2 .tit .tit_box {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .section_1 .list_2 .li_bt {
    padding-top: 20rem;
  }
  .section_1 .list_2 .li_bt .span_tp em p {
    margin-right: 15rem;
  }
  .section_1 .list_2 .li_bt .span_tp em p::after {
    content: none;
  }
  .section_1 .list_2 .li_bt .span_tp em:last-of-type p:last-of-type {
    margin: 0;
  }
  .section_1 .list_2 .li_bt .span_bt p {
    font-size: 15rem;
    color: #dddddd;
  }
  .section_1 .list_2 .li_bt .span_bt p:first-of-type em {
    margin-right: 10rem;
  }
  .section_1 .list_2 .li_bt .span_bt p:last-of-type {
    color: white;
    font-weight: bold;
    font-size: 18rem;
    padding-top: 10rem;
  }
  .section_5 .title .tit_box span {
    font-size: 60rem;
  }
  .section_5 .title .tit_box em {
    font-size: 50rem;
  }
  .section_6 .title {
    height: 30%;
  }
  .section_6 .img_box {
    height: 70%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 600rem;
    max-height: 600rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 180rem;
    height: 180rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-height: 900px) {
  .section_6 {
    height: 20%;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 500rem;
    max-height: 500rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 150rem;
    height: 150rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-height: 700px) {
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 130rem;
    height: 130rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 40rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 40rem;
    line-height: 20rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 350rem;
    max-height: 350rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 100rem;
    height: 100rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) {
  footer .foot_bt .ft_bt_left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .foot_bt .ft_bt_left ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .foot_bt .ft_bt_left ul li p {
    font-size: 15rem;
  }
  footer .foot_bt .ft_bt_left p {
    font-size: 18rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) and (max-height: 1000px) {
  .section_1 .list_2 .tit .tit_box > p {
    font-size: 40rem;
    padding-bottom: 20rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) and (max-height: 900px) {
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
    line-height: 40rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 570rem;
    max-height: 570rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 170rem;
    height: 170rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 20rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 120rem;
    height: 120rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) and (max-width: 400px) {
  .section_1 .list_2 .tit .tit_box span {
    font-size: 60rem;
  }
  .section_6 .title {
    height: 35%;
  }
  .section_6 .img_box {
    height: 65%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 500rem;
    max-height: 500rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 140rem;
    height: 140rem;
  }
  footer .foot_bt .ft_bt_left ul li:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .foot_bt .ft_bt_left ul li:first-of-type p::after {
    content: none;
  }
  .section_7 i {
    font-size: 30rem;
  }
  .section_7 .bt_1 {
    width: 95%;
    right: 5%;
  }
  .section_7 .bt_1 a {
    font-size: 25rem;
  }
  .section_7 .bt_1 a:first-of-type em {
    line-height: 15rem;
  }
  .section_7 .bt_2 {
    width: 95%;
    right: 5%;
  }
  .section_7 .bt_2 a {
    margin-top: 30rem;
  }
  .section_7 .bt_2 p {
    font-size: 25rem;
  }
  .section_7 .bt_2 p span {
    font-size: 25rem;
  }
  .section_7 .bt_2 .bt_r_h5img {
    width: 200rem;
    margin-top: 30rem;
  }
  .section_7 .bt_2 .mobile_989_none {
    display: none;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 989px) and (max-width: 900px) and (max-width: 800px) and (max-width: 700px) and (max-width: 600px) and (max-width: 500px) and (max-width: 400px) and (max-height: 600px) {
  .section_6 #sec_6_mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section_6 .title {
    height: 25%;
  }
  .section_6 .title .tit_box {
    font-size: 50rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 50rem;
    line-height: 20rem;
  }
  .section_6 .img_box {
    height: 75%;
  }
  .section_6 .img_box .sec6_li {
    max-width: 450rem;
    max-height: 450rem;
  }
  .section_6 .img_box .sec6_li li {
    width: 120rem;
    height: 120rem;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 900px) {
  html {
    font-size: 0.111111111111111vw;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 800px) {
  html {
    font-size: 0.125vw;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 700px) {
  html {
    font-size: 0.142857142857143vw;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 600px) {
  html {
    font-size: 0.166666666666667vw;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 400px) {
  html {
    font-size: 0.25vw;
  }
}

@media (max-width: 999px) and (min-width: 0px) and (max-width: 400px) and (max-height: 1020px) {
  html {
    font-size: 0.2vw;
  }
}
/*# sourceMappingURL=media.css.map */