@charset "utf-8";
 


@media (min-width:1020px){
  #media{
    display: none;
  }
  header{
    .header{
      position: relative;

        .navbar{
            position: absolute;
            z-index: -1;
            background-color: rgba(0,0,0,0.9);
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            opacity: 0;
            width: 100%;
            height: 0%;
            transition: 0.3s;
        }
        nav{
            width: 65%;
            text-align: center;
            font-size: 18rem;
            cursor: pointer;

            .nav{
                display: flex;
                justify-content: space-between;
                width: 100%;
                // overflow: hidden;
        
                &>li{
                    font-weight: 400;
                    text-align: left;
                    position: relative;
                    p{
                        padding: 30rem 60rem 30rem 0;
                    }
        
                    .nav_menu{
                        position: absolute;
                        display: block;
                        opacity: 0;
                        top: -200%;
                        left: 0;
                        z-index: 10;
                        padding: 20rem 0;
                        text-align: left;
                        transition: 0.3s;
                        &>li{
                            padding: 10rem 0;
                            font-size: 14rem;
                            font-weight: 400;
                            color: #999;
                            &:hover{
                                color: #fefefe;
                            }
                        }
                    }
                }
            }
        }
    }
  }
  
}
@media (max-width:1019px) and (min-width:0px){
  .media{
    display: block;
  }
  #desktop{
    display: none;
  }
  header{
    .header{
      .head_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75rem;
        .logo{
          width: 130rem;
          padding: 5rem;
        }
        ul{
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 40%;
          height: 100%;
          // background-color: rgb(155, 222, 135);
          li{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            font-size: 20rem;
            margin-right: 15rem;
          }
          .hd_r{
            width: 80%;
            a{
            color: #eee;
            padding-top: 5rem;
            margin-right: 13rem;
            cursor: pointer;
              &:hover{
                color: #fefefe;
              }
            }

            p{
              padding-top: 5rem;
              display: flex;
              align-items: center;
            }
            span{
              cursor: pointer;
            }
          }
          .ham{
            position: relative;
            width: 13%;
            p{
              position: absolute;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-end;
              z-index: 20;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 100%;
              cursor: pointer;
              
              span{
                display: flex;
                justify-content: center;
                content: "";
                width: 50rem;
                height: 6rem;
                margin: 3rem 0;
                background-color: rgb(255, 255, 255);
                transform-origin: center;
                border-radius: 2px;
              }
            }
          }
          .ham.active{
            span{
              transition: all ease-in-out 0.3s;
            }
            .h_bar1{transform: rotate(45deg);
                    margin-bottom: -8rem;}
            
            .h_bar2{transform: rotate(45deg);}
            .h_bar3{transform: rotate(135deg);
                    margin-top: -8rem;}
          }
        }
      }
      #nav{
        // display: none;
        position: absolute;
        top: 0;
        right: 0;
        // right: -30vw;
        width: 30vw;
        height: 100vh;
        background-color: rgba(0, 0, 0,0.7);
      }
      #nav.active{
        transition: all ease-in-out 0.5s;
        // right: 0;
      }
      .input{
        width: 100%;
        margin-top: 75rem;
        display: block;
        // background-color: antiquewhite;
        li{
          height: 100%;
          padding: 0 10rem;
          display: flex;
          align-items: center;
          justify-content: center;
          input{
            width: 80%;
            margin-left: 10rem;
          }
          i{
            width: 10%;
            font-size: 20rem;
            margin-left: 10rem;
          }
        }
      }
      .nav{
        position: relative;
        margin-top: 10rem;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          flex-direction: column;
          p{
            font-size: 20rem;
            padding: 5rem;
            background-color: black;
            cursor: pointer;
          }
        }
        .nav_menu{
          display: none;
          // display: flex;
          flex-direction: column;
          li{
            padding: 10rem;
            font-size: 15rem;
            color: #a7a7a7;
            &:first-of-type{
              margin-top: 10rem;
            }
          }
        }
      }
    }
  }
}



@media (min-width: 1500px){
  html {
    font-size: 6.25%;
  } 
  .section_2{
    .title_icon{
      margin-top: -55rem;
    }
  }
  .sec_3{
    .tp_box{
      height: 60%;
      .title{
        li{
          &:nth-of-type(2){
            button{
              padding: 15rem 30rem;
              a{
                font-size: 20rem;
              }
            }
          }
          &:last-of-type{
            font-size: 15rem;
          }
        }
      }
    }
    .bt_box{
      height: 40%;
      .num3_ani{
          font-size: 85rem;
      }
      span{
          font-size: 30em;
      }
    }
  }
  .section_6{
    .sec6_li{
      li{
          width: 250rem; 
          height: 250rem;
      }
    }

  }

}
@media (max-width:1499px) and (min-width:1281px){
  html {
    font-size: 0.076923076923077vw;
    // font-size: 0.07806401249024vw;
  } 
  .section_2{
    .title_icon{
      margin-top: -50rem;
    }
  }
  
  .section_3{
    .sec_3{
        .tp_box{
          height: 60%;
          .title{
            li{
              &:nth-of-type(2){
                button{
                  padding: 10rem 20rem;
                  a{
                    font-size: 15rem;
                  }
                }
              }
              &:last-of-type{
                font-size: 13rem;
              }
            }
          }
        }
        .bt_box{
          height: 40%;
          .num3_ani{
              font-size: 80rem;
          }
          span{
              font-size: 25rem;
          }
        }
    }

  }

  .section_4{
    .title{
        height: 35%;
    }
  }

  .section_6{
    .sec6_li{
      max-width: 1200px;
      li{
          width: 230rem;
          height: 230rem;
      }
    }
  }

  @media (max-height:900px){

  }
}
@media (max-width:1280px) and (min-width:1000px){
  @media (max-height:900px){

  }
  html {
    font-size: 0.078125vw;
  } 
  .title_icon{
    margin-top: -80rem;
  }
  .section_6{
    .sec6_li{
      max-width: 1000px;
      li{
          // width: 230rem;
          // height: 230rem;
          width: 200px;
          height: 200px;
      }
    }
  }
}

@media (max-width:999px) and (min-width:700px){
  html {
    font-size: 0.1001001001001vw;
  } 
  .title_icon{
    margin-top: -100rem;
  }
}
@media (max-width:699px) and (min-width:300px){
  html {
    font-size: 0.143061516452074vw;
  } 
  .title_icon{
    margin-top: -90rem;
  }
}