@media (min-width: 1020px) {
  #media {
    display: none;
  }
  header .header {
    position: relative;
  }
  header .header .navbar {
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 100%;
    opacity: 0;
    width: 100%;
    height: 0%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .header nav {
    width: 65%;
    text-align: center;
    font-size: 18rem;
    cursor: pointer;
  }
  header .header nav .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  header .header nav .nav > li {
    font-weight: 400;
    text-align: left;
    position: relative;
  }
  header .header nav .nav > li p {
    padding: 30rem 60rem 30rem 0;
  }
  header .header nav .nav > li .nav_menu {
    position: absolute;
    display: block;
    opacity: 0;
    top: -200%;
    left: 0;
    z-index: 10;
    padding: 20rem 0;
    text-align: left;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .header nav .nav > li .nav_menu > li {
    padding: 10rem 0;
    font-size: 14rem;
    font-weight: 400;
    color: #999;
  }
  header .header nav .nav > li .nav_menu > li:hover {
    color: #fefefe;
  }
}

@media (max-width: 1019px) and (min-width: 0px) {
  .media {
    display: block;
  }
  #desktop {
    display: none;
  }
  header .header .head_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 75rem;
  }
  header .header .head_bar .logo {
    width: 130rem;
    padding: 5rem;
  }
  header .header .head_bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    height: 100%;
  }
  header .header .head_bar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
    font-size: 20rem;
    margin-right: 15rem;
  }
  header .header .head_bar ul .hd_r {
    width: 80%;
  }
  header .header .head_bar ul .hd_r a {
    color: #eee;
    padding-top: 5rem;
    margin-right: 13rem;
    cursor: pointer;
  }
  header .header .head_bar ul .hd_r a:hover {
    color: #fefefe;
  }
  header .header .head_bar ul .hd_r p {
    padding-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header .head_bar ul .hd_r span {
    cursor: pointer;
  }
  header .header .head_bar ul .ham {
    position: relative;
    width: 13%;
  }
  header .header .head_bar ul .ham p {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    z-index: 20;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 100%;
    cursor: pointer;
  }
  header .header .head_bar ul .ham p span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    content: "";
    width: 50rem;
    height: 6rem;
    margin: 3rem 0;
    background-color: white;
    -webkit-transform-origin: center;
            transform-origin: center;
    border-radius: 2px;
  }
  header .header .head_bar ul .ham.active span {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  header .header .head_bar ul .ham.active .h_bar1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: -8rem;
  }
  header .header .head_bar ul .ham.active .h_bar2 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .header .head_bar ul .ham.active .h_bar3 {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: -8rem;
  }
  header .header #nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
  header .header #nav.active {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
  }
  header .header .input {
    width: 100%;
    margin-top: 75rem;
    display: block;
  }
  header .header .input li {
    height: 100%;
    padding: 0 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header .input li input {
    width: 80%;
    margin-left: 10rem;
  }
  header .header .input li i {
    width: 10%;
    font-size: 20rem;
    margin-left: 10rem;
  }
  header .header .nav {
    position: relative;
    margin-top: 10rem;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav li p {
    font-size: 20rem;
    padding: 5rem;
    background-color: black;
    cursor: pointer;
  }
  header .header .nav .nav_menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header .nav .nav_menu li {
    padding: 10rem;
    font-size: 15rem;
    color: #a7a7a7;
  }
  header .header .nav .nav_menu li:first-of-type {
    margin-top: 10rem;
  }
}

@media (min-width: 1500px) {
  html {
    font-size: 6.25%;
  }
  .section_2 .title_icon {
    margin-top: -55rem;
  }
  .sec_3 .tp_box {
    height: 60%;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button {
    padding: 15rem 30rem;
  }
  .sec_3 .tp_box .title li:nth-of-type(2) button a {
    font-size: 20rem;
  }
  .sec_3 .tp_box .title li:last-of-type {
    font-size: 15rem;
  }
  .sec_3 .bt_box {
    height: 40%;
  }
  .sec_3 .bt_box .num3_ani {
    font-size: 85rem;
  }
  .sec_3 .bt_box span {
    font-size: 30em;
  }
  .section_6 .sec6_li li {
    width: 250rem;
    height: 250rem;
  }
}

@media (max-width: 1499px) and (min-width: 1281px) {
  html {
    font-size: 0.076923076923077vw;
  }
  .section_2 .title_icon {
    margin-top: -50rem;
  }
  .section_3 .sec_3 .tp_box {
    height: 60%;
  }
  .section_3 .sec_3 .tp_box .title li:nth-of-type(2) button {
    padding: 10rem 20rem;
  }
  .section_3 .sec_3 .tp_box .title li:nth-of-type(2) button a {
    font-size: 15rem;
  }
  .section_3 .sec_3 .tp_box .title li:last-of-type {
    font-size: 13rem;
  }
  .section_3 .sec_3 .bt_box {
    height: 40%;
  }
  .section_3 .sec_3 .bt_box .num3_ani {
    font-size: 80rem;
  }
  .section_3 .sec_3 .bt_box span {
    font-size: 25rem;
  }
  .section_4 .title {
    height: 35%;
  }
  .section_6 .sec6_li {
    max-width: 1100px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
}

@media (max-width: 1499px) and (min-width: 1281px) and (max-height: 900px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) {
  html {
    font-size: 0.078125vw;
  }
  .title_icon {
    margin-top: -80rem;
  }
  .section_6 .sec6_li {
    max-width: 1000px;
  }
  .section_6 .sec6_li li {
    width: 230rem;
    height: 230rem;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-height: 900px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-height: 850px) {
  .section_6 .title .tit_box {
    font-size: 60rem;
    line-height: 60rem;
  }
  .section_6 .title .tit_box h2 {
    font-size: 60rem;
  }
  .section_6 .sec6_li li {
    width: 220rem;
    height: 220rem;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-height: 700px) {
  .section_6 .sec6_li {
    max-width: 800px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-width: 1024px) and (min-width: 1000px) {
  .section_6 .img_box {
    height: 80%;
  }
  .section_6 .sec6_bt_icon {
    height: 10%;
  }
  .section_6 .sec6_bt_icon li {
    margin-top: 10rem;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-width: 1024px) and (min-width: 1000px) and (max-height: 800px) {
  .section_6 .sec6_li {
    max-width: 1000px;
  }
  .section_6 .sec6_li li {
    width: 240rem;
    height: 240rem;
  }
}

@media (max-width: 1280px) and (min-width: 1000px) and (max-width: 1024px) and (min-width: 1000px) and (max-height: 600px) {
  .section_6 .sec6_li {
    max-width: 800px;
  }
  .section_6 .sec6_li li {
    width: 200rem;
    height: 200rem;
  }
}

@media (max-width: 999px) and (min-width: 700px) {
  html {
    font-size: 0.1001001001001vw;
  }
  .title_icon {
    margin-top: -100rem;
  }
}

@media (max-width: 699px) and (min-width: 300px) {
  html {
    font-size: 0.143061516452074vw;
  }
  .title_icon {
    margin-top: -90rem;
  }
}
/*# sourceMappingURL=media.css.map */